body,
ul,
p {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(246, 246, 246);
  height: 1050px;
}

ul {

  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: #999;
}

#nav {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  background-color: #fff;
}

#nav li {
  width: 20%;
  text-align: center;

}

#nav li span {

  font-size: 24px;
  line-height: 30px;
  display: block;
  font-weight: bold;
}

/* Naive 0关注 0粉丝 */
.frame {
  width: 300px;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 10px;

}



.frame img {
  display: inline-block;
  margin-right: 4px;
  padding: 4px 0 0 0;
  width: 50px;
  height: 50px;
}

.frame span:first-child {
  color: rgb(30, 216, 122);
}

.frame p {
  display: inline-block;
  text-indent: 0.5em;
  color: rgb(10, 9, 8);
  font-size: 16px;
  padding: 10px;
}

.frame p a {
  color: rgb(138, 137, 137);
  text-decoration: none;
  font-size: 14px;
}

/* 右上图标 */
#youshang {
  position: relative;
  width: 20%;
  right: 0;
  z-index: 100;
  display: flex;
  float: right;
  background-color: #fff;

}

#youshang li {

  width: 50%;
  text-align: center;

}

#youhsnag li span {

  font-size: 24px;
  line-height: 30px;
  display: block;
  font-weight: bold;
}

#youhsnag li span {

  font-size: 24px;
  line-height: 30px;
  display: block;
  font-weight: bold;
}

/* 头像下面那四个盒子 */
#banner {
  width: 100%;
  left: 0;
  z-index: 100;
  display: flex;

  margin: 6px;
  margin-left: 10px;
}

#banner li {
  width: 25%;
  border-radius: 15px;
  background-color: rgb(46, 39, 23);
  margin-top: 10px;
  margin: 5px;
}

#banner li p {
  font-size: 20px;
  text-align: center;
  color: rgb(165, 144, 98);
}

#banner li p a {
  font-weight: normal;
  font-size: 15px;
  color: rgb(188, 165, 47);
}

/* 我的创作号 */
#disan {
  /* position:fixed; */
  width: 100%;
  left: 0;
  display: flex;
  /* z-index: 100; */
  margin: -48px 10px 6px 0;
  margin-left: 10px;
}

#disan li {
  width: 100%;
  text-indent: 2px;
  font-size: 24px;
  border-radius: 10px;
  background-color: reb(255, 255, 255);
  margin-top: 60px;
}

#disan li span,
#disi li span {

  font-size: 24px;
  line-height: 24px;
  display: block;
  font-weight: bold;
  float: right;

}

/* 观看历史 */
#disi {
  margin: 2px;
  margin-top: 10px;
  width: 100%;
  height: 140px;
  background-color: rgb(255, 255, 255);
  float: left;
  border-radius: 10px;
  margin-left: 10px;

}

#disi li {
  font-size: 24px;

}

#disi li p {
  float: right;
  font-size: 24px;

}


#guankanlishi {
  display: flex;
  flex-wrap: nowrap;

}

.list {
  width: 200px;
  height: 200px;
  position: relative;
  float: left;


}

.list p a {
  font-size: 20px;
  color: #000;
  display: block;
  justify-content: space-around;
  /* line-height: 24px; */
  margin: auto;

  /* text-align: center; */
}



/* 常用功能 */
#diwu {
  width: 100%;
  z-index: 100;
  background-color: #fff;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

#diwu #changyonggongneng p {
  width: 200px;
  font-size: 24px;
  /* display: inline-block; */

}

#diwu .fenlei {
  width: 25%;
  height: 60px;
  border-radius: 15px;
  background-color: rgb(255, 252, 245);
  margin-top: 10px;
  /* display: flex; */
  justify-content: space-between;
  float: left;
}

#diwu .fenlei p {

  margin-bottom: 0;
  /* float: left; */
  text-align: center;
}

#diwu span {
  color: rgb(243, 98, 38);
  width: 100%;
  font-size: 24px;
  line-height: 30px;
  display: block;
  font-weight: bold;
  text-align: center;
}

/* 福利中心 */
#diliu {
  width: 100%;
  left: 0;
  z-index: 100;
  background-color: #fff;
  margin: 2px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

#diliu #fulizhongxin p {
  width: 200px;
  font-size: 24px;

}

#diliu img {


  width: 40px;
  height: 40px;
  /* width: 25%; */
  margin-left: 20px;
}

#diliu .fenlei1 {
  width: 25%;
  height: 60px;
  border-radius: 15px;
  background-color: rgb(255, 252, 245);
  margin-top: 20px;
  /* display: flex; */
  display: block;
  justify-content: space-between;
  float: left;


}

#diliu .fenlei1 p {
  margin-bottom: 0;
  text-align: center;

}

/* 免流量看视频 */
#diqi {
  width: 100%;
  z-index: 100;
  background-color: #fff;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
}

#diqi #mianliuliangkanshiping p {
  width: 200px;
  font-size: 24px;
  /* display: inline-block; */

}

#diqi .fenlei2 {
  width: 25%;
  height: 60px;
  border-radius: 15px;
  background-color: rgb(255, 252, 245);
  margin-top: 10px;
  /* display: flex; */
  justify-content: space-between;
  float: left;
}

#diqi .fenlei2 p {
  margin-bottom: 0;
  /* float: left; */
  text-align: center;
}

#diqi span {
  color: rgb(243, 98, 38);
  width: 100%;
  font-size: 24px;
  line-height: 30px;
  display: block;
  font-weight: bold;
  text-align: center;
}