@font-face {
  font-family: "iconfont"; /* Project id 3708202 */
  src: url('iconfont.woff2?t=1669020134671') format('woff2'),
       url('iconfont.woff?t=1669020134671') format('woff'),
       url('iconfont.ttf?t=1669020134671') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiajiantou1:before {
  content: "\e6cc";
}

.icon-weixin2:before {
  content: "\e607";
}

.icon-weixin1:before {
  content: "\e62f";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-jiahao_o:before {
  content: "\eb78";
}

.icon-arrow-:before {
  content: "\e626";
}

.icon-BAI-xunhuan:before {
  content: "\e6b8";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-tengxunshipin2:before {
  content: "\e694";
}

.icon-weixin:before {
  content: "\e870";
}

.icon-dingyue:before {
  content: "\e640";
}

.icon-icon-:before {
  content: "\e721";
}

.icon-duihuanquan:before {
  content: "\f034";
}

.icon-fanghudunpaianquan:before {
  content: "\e659";
}

.icon-chaxun:before {
  content: "\e6f7";
}

.icon-pinglun:before {
  content: "\e628";
}

.icon-htmal5icon34:before {
  content: "\e646";
}

.icon-airudiantubiaohuizhi-zhuanqu_youxi:before {
  content: "\e69d";
}

.icon-VIP:before {
  content: "\e62a";
}

.icon-touping2x:before {
  content: "\e63a";
}

.icon-sousuo:before {
  content: "\e600";
}

.icon-shoucang:before {
  content: "\e601";
}

.icon-ai01:before {
  content: "\e673";
}

.icon-jitui:before {
  content: "\e625";
}

.icon-youjiantou:before {
  content: "\e617";
}

.icon-shujia:before {
  content: "\e610";
}

.icon-xiajiantou:before {
  content: "\e790";
}

.icon-shangjiantou:before {
  content: "\e791";
}

.icon-aixin1:before {
  content: "\e8ab";
}

.icon-dingdan:before {
  content: "\e8ae";
}

.icon-saoyisao:before {
  content: "\e8b5";
}

.icon-wodexiazai:before {
  content: "\e68a";
}

.icon-zuojiantou:before {
  content: "\e611";
}

.icon-jiaguanzhu:before {
  content: "\e60b";
}

.icon-huiyuan:before {
  content: "\e67e";
}

.icon-jiaguanzhuren:before {
  content: "\e655";
}

.icon-tengxunshipin:before {
  content: "\e636";
}

.icon-aixin:before {
  content: "\e619";
}

.icon-tengxunshipin1:before {
  content: "\e652";
}

.icon-duanshipin:before {
  content: "\e67c";
}

.icon-tengxunshipin-:before {
  content: "\e63f";
}

.icon-gerenzhongxin:before {
  content: "\e60e";
}

.icon-viphuiyuan:before {
  content: "\e6e1";
}

